<div class="midguard-dialog">
    <div class="flexrow ">
        <div class="resource flexrow flex-group-left">
            <p class="title-label">{{localize "MIDGUARD.parameter"}}</p>
            <input type="number" name="attribute" value="{{parameter}}">
        </div>
        <div class="resource flexrow flex-group-left tile">
            <p class="title-label">{{localize "MIDGUARD.Skill"}}</p>
            <input type="number" name="skill" value="{{skill}}">
        </div>

        <div class="resource flexrow flex-group-left red">
            <p class="title-label">{{localize "MIDGUARD.TestLvl"}}</p>
            <input type="number" name="complication" value="{{complication}}">
        </div>
        <div class="resource flexrow flex-group-left green">
            <p class="title-label">{{localize "MIDGUARD.fatum"}}</p>
            <input type="checkbox" name="tag" {{#ifCond tag '==' true}}checked{{/ifCond}}>
        </div>
    </div>

</div>