<div class="left">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
    />
</div>

<table>
    <tr>
      <th colspan="2">{{localize "MIDGUARD.CharacterArchetype"}}</th>
      <th colspan="7" class="lastchild"><input
          name="data.archetype"
          type="text"
          value="{{data.data.archetype}}"
          placeholder="0"
        /></th>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>{{localize "MIDGUARD.CharacterAge"}}</td>
      <td>
            <input name="data.age" type="number" value="{{data.data.age}}" />
      </td>

        <td colspan="2">
          <label class="resource-label labeldetails">{{localize
              "MIDGUARD.CharacterGender"
            }}</label>
        </td>
        <td>
          <input name="data.gender" type="text" value="{{data.data.gender}}" />
        </td>
    <!-- wzrost,waga, pierdoly -->
    </tr>
      <tr>
        <td>
            <label class="resource-label labeldetails">{{localize
              "MIDGUARD.CharacterPotential"
            }}</label>
          </td>
        <td>
            <input
              type="number"
              name="data.potential.value"
              value="{{data.data.potential.value}}"
              data-dtype="Number"
            />
          </td>

          <td>
            <input
              type="number"
              name="data.potential.max"
              value="{{data.data.potential.max}}"
              data-dtype="Number"
            />
          </td>
          <td>

          <label class="resource-label labeldetails">{{localize
              "MIDGUARD.CharacterMoves"
            }}</label>
          </td>

      <td>
            <input
              type="number"
              name="data.moves.value"
              value="{{data.data.moves.value}}"
              data-dtype="Number"
            />
          </td>

          <td>
            <input
              type="number"
              name="data.moves.max"
              value="{{data.data.moves.max}}"
              data-dtype="Number"
            />
          </td>

       <td>
          <label class="resource-label labeldetails">{{localize
              "MIDGUARD.SecondaryParametersVitality"
            }}</label>
        </td>
        <td>
            <input
              type="number"
              name="data.vitality.value"
              value="{{data.data.vitality.value}}"
              data-dtype="Number"
            />
          </td>
          <td>
            {{timesFivePlusFifteen data.data.bodyBuild placeholder="0"}}
          </td>
      </tr>
    <tr>

      <td colspan="2">
        <label class="resource-label labeldetails">{{localize "MIDGUARD.CharacterExpTotal" }}</label>
      </td>
      <td colspan="2">
        <input
          type="number"
          name="data.exp.total"
          value="{{data.data.exp.total}}"
          data-dtype="Number"
        />
      </td>
      <td colspan="2">
        <label class="resource-label labeldetails">{{localize
            "MIDGUARD.CharacterExpSpent"
          }}</label>
      </td>
      <td colspan="3">
        <input
          type="number"
          name="data.exp.spent"
          value="{{data.data.exp.spent}}"
          data-dtype="Number"
        />
      </td>
    </tr>
  </table>
</div>

<div class="right"></div>

