<div class="left">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
    />
</div>

<table class="parameters">
    <tr>
      <th colspan="2">{{localize "MIDGUARD.CharacterArchetype"}}</th>
      <th colspan="7" class="lastchild">
           <input type="text" list="archetypes" name="data.archetype">

            <datalist id="archetypes">
              <option value="{{localize "HVPUNOFFICIAL.ArchetypeChimera"}}">
              <option value="{{localize "HVPUNOFFICIAL.ArchetypeCyborg"}}">
              <option value="{{localize "HVPUNOFFICIAL.ArchetypeEsoteric"}}">
              <option value="{{localize "HVPUNOFFICIAL.ArchetypeSupersoldier"}}">
              <option value="{{localize "HVPUNOFFICIAL.ArchetypeSymbiont"}}">
            </datalist>

          <!-- {{#each data.data.archetype}}
                  <option value="{{this}}">{{localize "HVPUNOFFICIAL.Archetype"this}}</option>
              {{/each}} -->

          <!-- <input
          name="data.archetype"
          type="text"
          value="{{data.data.archetype}}"
          placeholder=""
        /></th> -->
    </tr>
    <tr>
      <td colspan="2">{{localize "MIDGUARD.CharacterAge"}}</td>
      <td>
            <input name="data.age" type="number" value="{{data.data.age}}" />
      </td>

        <td colspan="2">
          <label class="resource-label labeldetails">{{localize
              "MIDGUARD.CharacterGender"
            }}</label>
        </td>
        <td>
          <input name="data.gender" type="text" value="{{data.data.gender}}" />
        </td>
    <!-- wzrost,waga, pierdoly -->
    </tr>

    <tr>

      <td colspan="2">
        <label class="resource-label labeldetails">{{localize "MIDGUARD.CharacterExpTotal" }}</label>
      </td>
      <td colspan="2">
        <input
          class="experience"
          type="number"
          name="data.exp.total"
          value="{{data.data.exp.total}}"
          data-dtype="Number"
        />
      </td>
      <td colspan="2">
        <label class="resource-label labeldetails">{{localize
            "MIDGUARD.CharacterExpSpent"
          }}</label>
      </td>
      <td colspan="3">
        <input
          class="experience"
          type="number"
          name="data.exp.spent"
          value="{{data.data.exp.spent}}"
          data-dtype="Number"
        />
      </td>
    </tr>
  </table>
</div>

<div class="right"></div>

