
            {{!--
            {{#each system.mainParameters as |param key|}}
            <div class="mainParameter flexrow flex-group-center">
              <label for="system.mainParameters.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@mainParameters.{{key}}.value" data-label="{{param.label}}">{{param.label}}</label>
              <input type="text" name="system.mainParameters.{{key}}.value" value="{{param.value}}" data-dtype="Number"/>
              <span class="param rollable" data-roll="d20+@mainParameters.{{key}}.value" data-label="{{param.label}}">{{numberFormat param.value decimals=0 sign=true}}</span>
            </div>
            {{/each}}
            --}}
              {{!-- Paramteres --}}

                  {{!-- Body build skills --}}
                <div class="resources grid grid-3col paramskillbox">
                  <label for="system.mainParameters.{{paramname}}.value" class="resource-label text-opaque grid-span-2" >{{ system.mainParameters.[paramname].label }}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.mainParameters.{{paramname}}.value" value="{{paramname}}.value" data-dtype="Number"/>
                  </div>
                  <label class="resource-label grid-start-2 text-opaque">{{localize "HVPUNOFFICIAL.Value"}}</label>
                  <label class="resource-label grid-start-3 text-opaque">{{localize "HVPUNOFFICIAL.Sum"}}</label>
                    {{!--#each skills as |skill key|}}
                      <label for="system.skills.{{key}}.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsEndurance"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.skills.{{key}}.value" value="{{system.skills.[key].value}}" data-dtype="Number"/>
                       </div>
                      <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.skills.{{key}}.total" value="{{system.skills.[key].modified_value}}" data-dtype="Number"/>
                      </div>
                    {{/each--}}
                    <label for="system.skills.{{skill1}}.value" class="resource-label">{{system.skills.[skill1].label}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.skills.{{skill1}}.value" value="{{system.skills.[skill1].value}}" data-dtype="Number"/>
                       </div>
                      <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.skills.{{skill1}}.total" value="{{system.skills.[skill1].modified_value}}" data-dtype="Number"/>
                      </div>
                    <label for="system.skills.{{skill2}}.value" class="resource-label">{{system.skills.[skill2].label}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.skills.{{skill2}}.value" value="{{system.skills.[skill2].value}}" data-dtype="Number"/>
                       </div>
                      <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.skills.{{skill2}}.total" value="{{system.skills.[skill2].modified_value}}" data-dtype="Number"/>
                      </div>
                    <label for="system.skills.{{skill3}}.value" class="resource-label">{{system.skills.[skill3].label}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.skills.{{skill3}}.value" value="{{system.skills.[skill3].value}}" data-dtype="Number"/>
                       </div>
                      <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.skills.{{skill3}}.total" value="{{system.skills.[skill3].modified_value}}" data-dtype="Number"/>
                      </div>
                </div>
