<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.secondaryParameters.vitality.value" class="resource-label text-opaque">{{localize "HVPUNOFFICIAL.SecondaryParametersVitality"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.secondaryParameters.vitality.value" value="{{system.secondaryParameters.vitality.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.secondaryParameters.vitality.max" value="{{system.secondaryParameters.vitality.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.secondaryParameters.potential.value" class="resource-label text-opaque">{{localize "HVPUNOFFICIAL.SecondaryParametersPotential"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.secondaryParameters.potential.value" value="{{system.secondaryParameters.potential.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.secondaryParameters.potential.max" value="{{system.secondaryParameters.potential.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.secondaryParameters.shifts.value" class="resource-label text-opaque">{{localize "HVPUNOFFICIAL.SecondaryParametersShifts"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.secondaryParameters.shifts.value" value="{{system.secondaryParameters.shifts.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.secondaryParameters.shifts.max" value="{{system.secondaryParameters.shifts.max}}" data-dtype="Number"/>
          </div>
        </div>


      </div>
      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label for="system.exp.current" class="resource-label text-opaque">{{localize "HVPUNOFFICIAL.CharacterExpCurrent"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.system.exp.current" value="{{system.exp.current}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.exp.spent" class="resource-label text-opaque">{{localize "HVPUNOFFICIAL.CharacterExpSpent"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.system.exp.spent" value="{{system.exp.spent}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.exp.total" class="resource-label text-opaque">{{localize "HVPUNOFFICIAL.CharacterExpTotal"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.system.exp.total" value="{{sum system.exp.spent system.exp.current}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="parameters">{{ localize "HVPUNOFFICIAL.parameters"}}</a>
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="mainParameters flexcol">
            {{!--
            {{#each system.mainParameters as |param key|}}
            <div class="mainParameter flexrow flex-group-center">
              <label for="system.mainParameters.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@mainParameters.{{key}}.value" data-label="{{param.label}}">{{param.label}}</label>
              <input type="text" name="system.mainParameters.{{key}}.value" value="{{param.value}}" data-dtype="Number"/>
              <span class="param rollable" data-roll="d20+@mainParameters.{{key}}.value" data-label="{{param.label}}">{{numberFormat param.value decimals=0 sign=true}}</span>
            </div>
            {{/each}}
            --}}
              {{!-- Paramteres --}}
              <div class="resources grid grid-3col">
                  <div class="1st_column">
                  {{!-- Body build skills --}}
                <div class="resources grid grid-3col">
                  <label for="system.mainParameters.bodyBuild.value" class="resource-label text-opaque grid-span-2" >{{localize "HVPUNOFFICIAL.MainParametersBodyBuild"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.mainParameters.bodyBuild.value" value="{{system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                  <label class="resource-label grid-start-2 text-opaque">{{localize "HVPUNOFFICIAL.Value"}}</label>
                  <label class="resource-label grid-start-3 text-opaque">{{localize "HVPUNOFFICIAL.Sum"}}</label>
                  <label for="system.skills.meleeWeapon.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsMeleeWeapon"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeWeapon.value" value="{{system.skills.meleeWeapon.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeWeapon.total" value="{{sum system.skills.meleeWeapon.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                    <label for="system.skills.meleeCombat.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsMeleeCombat"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeCombat.value" value="{{system.skills.meleeCombat.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeCombat.total" value="{{sum system.skills.meleeCombat.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                    <label for="system.skills.endurance.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsEndurance"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.endurance.value" value="{{system.skills.endurance.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.endurance.total" value="{{sum system.skills.meleeWeapon.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                </div>
                  {{!-- Dexterity skills --}}
                <div class="resources grid grid-3col">
                  <label for="system.mainParameters.bodyBuild.value" class="resource-label text-opaque grid-span-2" >{{localize "HVPUNOFFICIAL.MainParametersBodyBuild"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.mainParameters.bodyBuild.value" value="{{system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                  <label class="resource-label grid-start-2 text-opaque">{{localize "HVPUNOFFICIAL.Value"}}</label>
                  <label class="resource-label grid-start-3 text-opaque">{{localize "HVPUNOFFICIAL.Sum"}}</label>
                  <label for="system.skills.meleeWeapon.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsMeleeWeapon"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeWeapon.value" value="{{system.skills.meleeWeapon.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeWeapon.total" value="{{sum system.skills.meleeWeapon.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                    <label for="system.skills.meleeCombat.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsMeleeCombat"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeCombat.value" value="{{system.skills.meleeCombat.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeCombat.total" value="{{sum system.skills.meleeCombat.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                    <label for="system.skills.endurance.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsEndurance"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.endurance.value" value="{{system.skills.endurance.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.endurance.total" value="{{sum system.skills.meleeWeapon.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                </div>
                      </div>

                      </div>
                  <div class="grid-start-2">
                  {{!-- Perception skills --}}
                <div class="resources grid grid-3col">
                  <label for="system.mainParameters.bodyBuild.value" class="resource-label text-opaque grid-span-2" >{{localize "HVPUNOFFICIAL.MainParametersBodyBuild"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.mainParameters.bodyBuild.value" value="{{system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                  <label class="resource-label grid-start-2 text-opaque">{{localize "HVPUNOFFICIAL.Value"}}</label>
                  <label class="resource-label grid-start-3 text-opaque">{{localize "HVPUNOFFICIAL.Value"}}</label>
                  <label for="system.skills.meleeWeapon.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsMeleeWeapon"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeWeapon.value" value="{{system.skills.meleeWeapon.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeWeapon.total" value="{{sum system.skills.meleeWeapon.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                    <label for="system.skills.meleeCombat.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsMeleeCombat"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeCombat.value" value="{{system.skills.meleeCombat.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeCombat.total" value="{{sum system.skills.meleeCombat.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                    <label for="system.skills.endurance.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsEndurance"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.endurance.value" value="{{system.skills.endurance.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.endurance.total" value="{{sum system.skills.meleeWeapon.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                </div>
                  {{!-- Intelligence skills --}}
                <div class="resources grid grid-3col">
                  <label for="system.mainParameters.bodyBuild.value" class="resource-label text-opaque grid-span-2" >{{localize "HVPUNOFFICIAL.MainParametersBodyBuild"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.mainParameters.bodyBuild.value" value="{{system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                  <label class="resource-label grid-start-2 text-opaque">{{localize "HVPUNOFFICIAL.Value"}}</label>
                  <label class="resource-label grid-start-3 text-opaque">{{localize "HVPUNOFFICIAL.Value"}}</label>
                  <label for="system.skills.meleeWeapon.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsMeleeWeapon"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeWeapon.value" value="{{system.skills.meleeWeapon.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeWeapon.total" value="{{sum system.skills.meleeWeapon.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                    <label for="system.skills.meleeCombat.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsMeleeCombat"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeCombat.value" value="{{system.skills.meleeCombat.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeCombat.total" value="{{sum system.skills.meleeCombat.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                    <label for="system.skills.endurance.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsEndurance"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.endurance.value" value="{{system.skills.endurance.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.endurance.total" value="{{sum system.skills.meleeWeapon.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                </div>
                  {{!-- Cool skills --}}
                <div class="resources grid grid-3col">
                  <label for="system.mainParameters.bodyBuild.value" class="resource-label text-opaque grid-span-2" >{{localize "HVPUNOFFICIAL.MainParametersBodyBuild"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.mainParameters.bodyBuild.value" value="{{system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                  <label class="resource-label grid-start-2 text-opaque">{{localize "HVPUNOFFICIAL.Value"}}</label>
                  <label class="resource-label grid-start-3 text-opaque">{{localize "HVPUNOFFICIAL.Value"}}</label>
                  <label for="system.skills.meleeWeapon.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsMeleeWeapon"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeWeapon.value" value="{{system.skills.meleeWeapon.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeWeapon.total" value="{{sum system.skills.meleeWeapon.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                    <label for="system.skills.meleeCombat.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsMeleeCombat"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeCombat.value" value="{{system.skills.meleeCombat.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeCombat.total" value="{{sum system.skills.meleeCombat.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                    <label for="system.skills.endurance.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsEndurance"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.endurance.value" value="{{system.skills.endurance.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.endurance.total" value="{{sum system.skills.meleeWeapon.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                </div>
                  {{!-- Verve skills --}}
                <div class="resources grid grid-3col">
                  <label for="system.mainParameters.bodyBuild.value" class="resource-label text-opaque grid-span-2" >{{localize "HVPUNOFFICIAL.MainParametersBodyBuild"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.mainParameters.bodyBuild.value" value="{{system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                  <label class="resource-label grid-start-2 text-opaque">{{localize "HVPUNOFFICIAL.Value"}}</label>
                  <label class="resource-label grid-start-3 text-opaque">{{localize "HVPUNOFFICIAL.Value"}}</label>
                  <label for="system.skills.meleeWeapon.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsMeleeWeapon"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeWeapon.value" value="{{system.skills.meleeWeapon.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeWeapon.total" value="{{sum system.skills.meleeWeapon.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                    <label for="system.skills.meleeCombat.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsMeleeCombat"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeCombat.value" value="{{system.skills.meleeCombat.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.meleeCombat.total" value="{{sum system.skills.meleeCombat.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                    <label for="system.skills.endurance.value" class="resource-label">{{localize "HVPUNOFFICIAL.SkillsEndurance"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.endurance.value" value="{{system.skills.endurance.value}}" data-dtype="Number"/>
                  </div>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.skills.endurance.total" value="{{sum system.skills.meleeWeapon.value system.mainParameters.bodyBuild.value}}" data-dtype="Number"/>
                  </div>
                </div>
                      </div>
              <div class="grid-start-3">
                    {{!-- Second params --}}
                <div class="resources grid grid-4col">
                  <label class="resource-label grid-start-2 text-opaque">{{localize "HVPUNOFFICIAL.Max"}}</label>
                  <label class="resource-label grid-start-3 text-opaque">{{localize "HVPUNOFFICIAL.Value"}}</label>
                    <label class="resource-label grid-start-4 text-opaque">{{localize "HVPUNOFFICIAL.Bonus"}}</label>

                  <label for="system.secondaryParameters.potential.value" class="resource-label text-opaque" >{{localize "HVPUNOFFICIAL.SecondaryParametersPotential"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.secondaryParameters.potential.max"
                           value="{{sum system.secondaryParameters.potential.max system.secondaryParameters.potential.bonus system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.bonus"
                           value="{{system.secondaryParameters.potential.bonus}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.value"
                           value="{{system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                  </div>
                    <label for="system.secondaryParameters.potential.value" class="resource-label text-opaque" >{{localize "HVPUNOFFICIAL.SecondaryParametersPotential"}}</label>

                    <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.secondaryParameters.potential.max"
                           value="{{sum system.secondaryParameters.potential.max system.secondaryParameters.potential.bonus system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.bonus"
                           value="{{system.secondaryParameters.potential.bonus}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.value"
                           value="{{system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                  </div>
                    <label for="system.secondaryParameters.potential.value" class="resource-label text-opaque" >{{localize "HVPUNOFFICIAL.SecondaryParametersPotential"}}</label>

                    <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.secondaryParameters.potential.max"
                           value="{{sum system.secondaryParameters.potential.max system.secondaryParameters.potential.bonus system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.bonus"
                           value="{{system.secondaryParameters.potential.bonus}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.value"
                           value="{{system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                  </div>
                    <label for="system.secondaryParameters.potential.value" class="resource-label text-opaque" >{{localize "HVPUNOFFICIAL.SecondaryParametersPotential"}}</label>

                    <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.secondaryParameters.potential.max"
                           value="{{sum system.secondaryParameters.potential.max system.secondaryParameters.potential.bonus system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.bonus"
                           value="{{system.secondaryParameters.potential.bonus}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.value"
                           value="{{system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                  </div>
                    <label for="system.secondaryParameters.potential.value" class="resource-label text-opaque" >{{localize "HVPUNOFFICIAL.SecondaryParametersPotential"}}</label>

                    <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.secondaryParameters.potential.max"
                           value="{{sum system.secondaryParameters.potential.max system.secondaryParameters.potential.bonus system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.bonus"
                           value="{{system.secondaryParameters.potential.bonus}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.value"
                           value="{{system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                  </div>
                    <label for="system.secondaryParameters.potential.value" class="resource-label text-opaque" >{{localize "HVPUNOFFICIAL.SecondaryParametersPotential"}}</label>

                    <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.secondaryParameters.potential.max"
                           value="{{sum system.secondaryParameters.potential.max system.secondaryParameters.potential.bonus system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.bonus"
                           value="{{system.secondaryParameters.potential.bonus}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.value"
                           value="{{system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                  </div>
                    <label for="system.secondaryParameters.potential.value" class="resource-label text-opaque" >{{localize "HVPUNOFFICIAL.SecondaryParametersPotential"}}</label>

                    <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.secondaryParameters.potential.max"
                           value="{{sum system.secondaryParameters.potential.max system.secondaryParameters.potential.bonus system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.bonus"
                           value="{{system.secondaryParameters.potential.bonus}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.value"
                           value="{{system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                  </div>
                    <label for="system.secondaryParameters.potential.value" class="resource-label text-opaque" >{{localize "HVPUNOFFICIAL.SecondaryParametersPotential"}}</label>

                    <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.secondaryParameters.potential.max"
                           value="{{sum system.secondaryParameters.potential.max system.secondaryParameters.potential.bonus system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.bonus"
                           value="{{system.secondaryParameters.potential.bonus}}"
                           data-dtype="Number"/>
                      <input type="text" name="system.secondaryParameters.potential.value"
                           value="{{system.secondaryParameters.potential.value}}"
                           data-dtype="Number"/>
                  </div>

                </div>
              </div>
          </div>
          </div>
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/hvpunofficial/templates/actor/parts/actor-features.html"}}
        </section>

      </section>
    </div>
    <div class="tab parameters" data-group="primary" data-tab="parameters">
          {{> systems/hvpunofficial/templates/actors/character-parameters.hbs}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/hvpunofficial/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/hvpunofficial/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/hvpunofficial/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

