<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <h1>
      <input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{ localize 'MIDGUARD.name' }}"
      />
    </h1>
  </header>
  <div class="sheet-content">
    <table>

      <tr>
        <th>{{localize "HVPUNOFFICIAL.SpellCost"}}</th>
        <th>{{localize "HVPUNOFFICIAL.SpellRange"}}</th>
        <th>{{localize "HVPUNOFFICIAL.SpellLevel"}}</th>
      </tr>
      <tr>
        <td>
          <input name="data.cost" type="number" value="{{data.data.cost}}" />
        </td>
        <td>
          <input
            name="data.range"
            type="text"
            value="{{data.data.range}}"
          />
        </td>
        <td>
          <input
            name="data.level"
            type="number"
            value="{{data.data.level}}"
          />
        </td>
      </tr>
    </table>
    <p>{{localize "HVPUNOFFICIAL.SpellDescription"}}</p>
    {{editor content=data.data.description target="data.description" button=true
    owner=owner editable=editable}}
  </div>
</form>
