<div class="hvpunofficial-chat-message" data-item-id="{{item._id}}">
    <div class="content">
        <h2>{{rollname}}</h2>
        {{#ifCond successes '>' 0}}
        <p class="success-plaq">{{localize "HVPUNOFFICIAL.ResultSuccess"}}: {{successes}}
            <span class="versus">&nbsp;&nbsp;&nbsp; {{successTreshold}} vs {{complicationTreshold}}</span></p>
        {{/ifCond}}

        {{#ifCond successes '<' 0}}
        <p class="fail-plaq">{{localize "HVPUNOFFICIAL.ResultFail"}}: {{successes}}
            <span class="versus">&nbsp;&nbsp;&nbsp; {{successTreshold}} vs {{complicationTreshold}}</span></p>
        {{/ifCond}}

        <div class="dices-result {{#if reroll}} reroll{{/if}} {{#if critical}} critical{{/if}}">
            <div class="dice-icon heroic-dice {{#unless switch_dices}}big-dice-icon{{/unless}}">heroicRoll</div>
            {{#unless switch_dices}}
                <button class="button switch-button"> <-> </button>
            {{/unless}}
            <div class="dice-icon help-dice {{#if switch_dices}}big-dice-icon{{/if}}">helpRoll</div>
            {{#unless shifts}}
                <button class="button shifts-button">{{localize "HVPUNOFFICIAL.ResultShifts"}}</button>
            {{/unless}}
        </div>
        {{#unless reroll}}
            <button class="button reroll-button">{{localize "HVPUNOFFICIAL.ResultReroll"}}</button>
        {{/unless}}
    </div>
</div>