<div class="hvpunofficial-chat-message" data-item-id="{{item._id}}">
    <p class="content">
        <h2>{{rollName}}</h2>
        {{#ifCond successes '>' 0}}
        <p class="success-plaq">{{localize "HVPUNOFFICIAL.ResultSuccess"}}: {{successes}}
        {{/ifCond}}
        {{#ifCond successes '<' 0}}
        <p class="fail-plaq">{{localize "HVPUNOFFICIAL.ResultFail"}}: {{successes}}
        {{/ifCond}}
    &nbsp;&nbsp;&nbsp; {{successThreshold}} vs {{complicationThreshold}}</p>

        <span class="dices-result {{#if reroll}} reroll{{/if}} {{#if critical}} critical{{/if}}">
            <span class="dice-icon heroic-dice {{#unless switch_dices}}big-dice-icon{{/unless}}">{{heroicRoll}}</span>
            {{#unless switch_dices}}
                <button class="button switch-button flexshrink"> <-> </button>
            {{/unless}}
                <span class="dice-icon help-dice {{#if switch_dices}}big-dice-icon{{/if}}">{{helpRoll}}</span>
            {{#unless shifts}}
                <button class="button shifts-button flexshrink">{{localize "HVPUNOFFICIAL.ResultShifts"}}</button>
            {{/unless}}
            {{#unless reroll}}
                <button class="button reroll-button flexshrink">{{localize "HVPUNOFFICIAL.ResultReroll"}}</button>
            {{/unless}}
        </span>
</div>