<div class="hvpunofficial dialog">
    <div class="flexcol ">
        <div class="resource flexrow flex-group-left">
            <h2 class="roll-name">{{localize "HVPUNOFFICIAL.RollName"}}: <strong>{{rollName}}</strong></h2>

        </div>
        <div class="resource flexrow flex-group-left">
            <p class="title-label">{{localize "HVPUNOFFICIAL.TestParameter"}}</p>
            <input type="number" name="attribute" value="{{attribute}}">
        </div>

        <input type="hidden" name="skill" value="{{skill}}">

        <div class="resource flexrow flex-group-left red">
            <p class="title-label">{{localize "HVPUNOFFICIAL.TestLvl"}}</p>
            <input type="number" name="complication" value="{{complicationTreshold}}">
        </div>
        <div class="resource flexrow flex-group-left red">
            <p class="title-label">{{localize "HVPUNOFFICIAL.RollModifier"}}</p>
            <input type="number" name="modifier" value="{{modifier}}">
        </div>
        <div class="resource flexrow flex-group-left green">
            <p class="title-label">{{localize "HVPUNOFFICIAL.fatum"}}</p>
            <input type="checkbox" name="fatum" {{#ifCond fatum '==' true}}checked{{/ifCond}}>
        </div>
    </div>

</div>